.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  margin: 0 0 20px 0;

  .action {
    display: inline-flex;
    gap: 20px;
  }

  .edit {
    background-color: #ccc;
  }

  .button_back {
    padding: 0 4px 0 20px;
    background-position: left center;
  }
}
