.form_edit {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
  overflow-wrap: break-word;
  display: flex;

  &.completed {
    .task_name {
      color: #a6a6a6;
      text-decoration: line-through;

      &:focus {
        text-decoration: none;
        color: inherit;
      }
    }
  }

  .button_wrapper {
    display: flex;
    // justify-content: space-between;
    justify-content: flex-end;
  }
}
