.input {
  font-size: 16px;
  line-height: 1.25;

  // display: inline-flex;
  color: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  cursor: text;

  // box-sizing: content-box;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.23);
  overflow: hidden;

  // height: 23px;
  margin: 0px;
  display: block;
  min-width: 0px;
  width: 100%;
  // animation-name: mui-auto-fill-cancel;
  // animation-duration: 10ms;
  padding: 8px 14px;
  outline: none;

  &:focus {
    border: 2px solid rgba(33, 126, 231, 0.8);
  }
}
