:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #1f1f1f;
  font-size: 16px;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 320px;
  background-image: linear-gradient(#eef6fd 60%, #e8d7fa 95%);
  /* чтобы содержимое не смещалось при появлении вертикального скролла */
  width: 100vw;
  overflow-x: hidden;
}

#root {
  /* text-align: center; */
  width: 100%;
  max-width: 600px;
  margin: 20px;
}

a,
a:hover,
a:visited {
  color: #1f1f1f;
  text-decoration: none;
}
a:hover {
  color: #6a6a6a;
}

input,
textarea {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #1f1f1f;
  font-size: 16px;
}
