.checkbox {
  appearance: none;
  position: relative;
  width: 16px;
  height: 16px;
  // margin: 5px 0;
  margin: 0;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #000;
  opacity: 0.4;
  transition: all 5ms;

  &::after {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='13' viewBox='0 -960 960 960' width='13' stroke='%23000000' stroke-width='30' fill='%23000000'%3E%3Cpath d='M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    transition: all 5ms;
  }

  &:hover {
    opacity: 0.6;
  }

  &:checked::after {
    width: 16px;
    height: 16px;
  }

  &:disabled {
    background-color: #e0e0e0;
    opacity: 0.2;
  }

  &:disabled::after {
    filter: grayscale(100%);
  }
}
